doctype html 
html 
    head    
        link(rel="stylesheet", href="./css/employ.css")
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Cinzel&display=swap', rel='stylesheet')
    body 
        .part
            img(src="/emp.png", alt="Image")
        br
        br
        .vr
        br
        br
        #container
            form(action='/employ',method='post')
                h1 Employee Form
                input.int(type='text',name='roleid',placeholder='Role_Id')
                br
                br
                input.int(type='text',name='name',placeholder='Name')
                br
                br
                input.int(type='text',name='workdept',placeholder='Work_Department')
                br
                br
                input.int(type='text',name='mail',placeholder='E-MailID')
                br
                br
                input.int(type='text',name='phoneno',placeholder='PhoneNumber')
                br
                br
                input.int(type='text',name='city',placeholder='City')
                br
                br
                button.btn(type='submit') Create







    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./js/Employ.js" charset="utf-8")