doctype html
head
  // Design by foolishdeveloper.com Glassmorphism login Form Tutorial in html css
  title Login
  link(rel="stylesheet", href="./css/login.css")
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap' rel='stylesheet')
  
  
.background
  .shape
  .shape
form(action='/login',method='post',autocomplete='off')
  h3 Employment Management System
  label(for='username') Username
  input#username(type='text' name='username' placeholder='UserName or Email ID')
  label(for='password') Password
  input#password(type='password' name='password' placeholder='Secret Code')
  button Log In
  .social
    .go
      i.fab.fa-google
        a(href='https://www.google.com/')  Google
    .fb
      i.fab.fa-facebook
        a(href='https://www.facebook.com/')  Facebook
  br
  br
  br
  .spinner
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js')
script(type='text/javascript', charset='utf8')
script.
  $('.spinner').hide()
  $('button').click(()=>{
    $(".social").hide()
    $('.spinner').show()
  })
