doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet', href='./css/main.css')
    title Admin Dashboard
  body
    #wrapper.d-flex
      // Sidebar
      #sidebar-wrapper.bg-white
        .sidebar-heading.text-center.py-4.primary-text.fs-4.fw-bold.text-uppercase.border-bottom
          i.fas.fa-user-secret.me-2
          | EMS
        .list-group.list-group-flush.my-3
          a.list-group-item.list-group-item-action.bg-transparent.second-text.active.text-secondary(href='rola')
            i.fas.fa-tachometer-alt.me-2
            | UserList
          a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold.text-success(href='moto')
            i.fas.fa-project-diagram.me-2
            | Role
          a.list-group-item.list-group-item-action.bg-transparent.text-danger.fw-bold(href='#')
            i.fas.fa-power-off.me-2
            | Logout
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.py-4.px-4
          .d-flex.align-items-center
            i#menu-toggle.fas.fa-align-left.primary-text.fs-4.me-3
            h2.fs-2.m-0 Dashboard
          // Button trigger modal
          button#btn.btn.btn-success(type='button', data-target='#exampleModal')
            | Add New Role
          // Modal
          #goal.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Create New Role
                  button#close.close(type='button', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  form.text-center(action='/moto',method="post",autocomplete='off')
                    .form-group.d-flex.pb-2 
                      label.mt-2(for='Name') Role  
                      input#Name.w-50.mx-auto.form-control(type='text',name='Role',placeholder='Role')
                    button.btn.btn-primary(type='submit') Submit
                .modal-footer
                  button.btn.btn-secondary.close.oi(type='button') Close
        
          button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle.second-text.fw-bold(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                  i.fas.fa-user.me-2
                  | Admin
                ul.dropdown-menu(aria-labelledby='navbarDropdown')
                  li
                    a.dropdown-item(href='#') Profile
                  li
                    a.dropdown-item(href='#') Settings
                  li
                    a.dropdown-item(href='/login') Logout
        .container-fluid.px-4
          .row.my-5
            .col
              table#example.display(style='width:100%;')
              thead

              tbody
    // JavaScript Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js')
    script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js')
    
    
    
    
    
    
    
    script.
        let el = document.getElementById("wrapper");
        let toggleButton = document.getElementById("menu-toggle");
        toggleButton.onclick = function () {
        el.classList.toggle("toggled");
        };


        $("#btn").on('click',(()=>{
        $("#goal").modal('show')
        }));
        $(".close").on("click",(()=>{
        $("#goal").modal("hide")
        }))
        
        

        $(document).ready(function () {
        let requestUrl = "http://localhost:3000/motodata";
        $('#example').DataTable({
            ajax: {
                method: "GET",
                url: requestUrl,
                dataSrc: "",  
                },
                "columns": [
                { "title": "Id", "data": "id" },
                { "title": "Role", "data": "Role" },
                { "title": "CreatedAt", "data": "createdAt" },
                { "title": "UpdatedAt", "data": "updatedAt" },
                ]        
            } );
        })
