doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dashboard
    // ======= Styles ======
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='./css/table.css')
  body
    // =============== Navigation ================
    .container
      .navigation
        ul
          li
            a(href='#')
              span.logo ð™€ð™ˆð™Ž
          li
            a(href='/user')
              span.icon
                ion-icon(name='home-outline')
              span.title Dashboard
          li
            a(href='/userrole')
              span.icon
                ion-icon(name="logo-paypal")
              span.title PayRole
          //- li
          //-   a(href='#')
          //-     span.icon
          //-       ion-icon(name='chatbubble-outline')
          //-     span.title Messages
          //- li
          //-   a(href='#')
          //-     span.icon
          //-       ion-icon(name='help-outline')
          //-     span.title Help
          //- li
          //-   a(href='#')
          //-     span.icon
          //-       ion-icon(name='settings-outline')
          //-     span.title Settings
          //- li
          //-   a(href='#')
          //-     span.icon
          //-       ion-icon(name='lock-closed-outline')
          //-     span.title Password
          li
            a(href='/login')
              span.icon
                ion-icon(name='log-out-outline')
              span.title Sign Out
      // ========================= Main ====================
      .main
        .topbar
          .toggle
            ion-icon(name='menu-outline')
          .user
            img(src='/profile.png', alt='') 
        // ================ Order Details List =================
        .details
          .recentOrders
            table#example.display(style='width:100%;')
              thead
                tr
                  td Name
                  td Price
                  td Payment
                  td record 
                  td validate
                  td types
              tbody
        // =========== Scripts =========
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js')
        script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js')
        |  
        script. 
          
            $(document).ready(function () {
            let requestUrl = "http://localhost:3000/payroledata";
            $('#example').DataTable({
                ajax: {
                    method: "GET",
                    url: requestUrl,
                    dataSrc: "",  
                  },
                  "columns": [
                { "title": "Id", "data": "id" },
                { "title": "Department", "data": "Department" },
                { "title": "Role", "data": "Role" },
                { "title": "DateOfJoin", "data": "DateofJoin" },
                { "title": "Amount", "data": "Amount" },
                { "title": "EmployeeId", "data": "EmployeeId" }  
                  ]         
                });
          })








          //add hovered class to selected list item
          let list = document.querySelectorAll(".navigation li");

          function activeLink() {
            list.forEach((item) => {
              item.classList.remove("hovered");
            });
            this.classList.add("hovered");
          }

          list.forEach((item) => item.addEventListener("mouseover", activeLink));

          //Menu Toggle
          let toggle = document.querySelector(".toggle");
          let navigation = document.querySelector(".navigation");
          let main = document.querySelector(".main");

          toggle.onclick = function () {
            navigation.classList.toggle("active");
            main.classList.toggle("active");
          };
        // ====== ionicons =======
        script(type='module', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
        script(nomodule='', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')