doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    link(rel='stylesheet', href='./css/main.css')
    title Admin Dashboard
  body
    #wrapper.d-flex
      // Sidebar
      #sidebar-wrapper.bg-white
        .sidebar-heading.text-center.py-4.primary-text.fs-4.fw-bold.text-uppercase.border-bottom
          i.fas.fa-user-secret.me-2
          | EMS
        .list-group.list-group-flush.my-3
          a.list-group-item.list-group-item-action.bg-transparent.second-text.active(href='userlist')
            i.fas.fa-tachometer-alt.me-2
            | UserList
          a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='userrole')
            i.fas.fa-project-diagram.me-2
            | Role
          a.list-group-item.list-group-item-action.bg-transparent.text-danger.fw-bold(href='login')
            i.fas.fa-power-off.me-2
            | Logout
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.py-4.px-4
          .d-flex.align-items-center
            i#menu-toggle.fas.fa-align-left.primary-text.fs-4.me-3
            h2.fs-2.m-0 Dashboard
          // Button trigger modal
          button#btn.btn.btn-primary(type='button', data-target='#exampleModal')
            | Add New Userlist
          // Modal
          #goal.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Create New UserList
                  button#close.close(type='button', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  form#forms.text-center(action='javascript:alert("success");',method='POST',autocomplete='off')
                    .form-group#idd.d-flex.pb-2
                      input#ids(type="hidden",name="ids")
                      input#value(type="hidden",value='',name="value")
                    .form-group.d-flex.pb-2 
                      label.mt-2(for='Name') FirstName  
                      input#fl.w-50.form-control(type='text',name='fname',placeholder='First Name')
                    .form-group.d-flex.pb-2 
                      label.mt-2(for='Name') LastName  
                      input#lname.w-50.form-control(type='text',name='lname',placeholder='Last Name')  
                    .form-group.d-flex.pb-2
                      label.mt-2(for="role")  Role
                      select#roles.w-50(name='role')
                        option#role(value="") Enter your Role
                        each x in passed 
                            option(value= x.Role) #{x.Role}
                    .form-group.d-flex.pb-2 
                      label.mt-2(for='Email') Email
                      input#Email.w-50.form-control.mx-auto(type='Email',name='mail' ,placeholder='Your Email ID')

                    .form-group.d-flex.pb-2 
                      label.mt-2(for='PhoneNo') PhoneNo
                      input#phones.w-50.form-control.io(type='tel',name='phoneno', placeholder='Your Mobile No',minlength='10',maxlength='10' required)
                    .form-group.d-flex.pb-2 
                      label.mt-2(for='locate') Location
                      input#locate.w-50.form-control.oo(type='text',name='city', placeholder='Your Location')
                    .modal-footer
                    button.btn.btn-primary.reload(type='submit') Submit
        
          button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle.second-text.fw-bold(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                  i.fas.fa-user.me-2
                  | Admin
                ul.dropdown-menu(aria-labelledby='navbarDropdown')
                  li
                    a.dropdown-item(href='#') Profile
                  li
                    a.dropdown-item(href='#') Settings
                  li
                    a.dropdown-item(href='/login') Logout
        .container-fluid.px-4
          .row.my-5
            .col
              table#example.display(style='width:100%;')
              thead
                id
                FirstName
                LastName
                Role
                E-MailId
                Phone:No
                Location
              tbody



    // JavaScript Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js')
    |  
    script(src='./js/userlist.js', charset='utf-8')

    
    
    
    



           




