body{
    background-image: url('./simple.jpg');
    width: auto;
    height: auto;

}
#container{
    width:300px;
    height:300px;
    /* background: linear-gradient(to right, #5DA7DB, #B4CDE6); */
    background:transparent;
    padding:40px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 100px;
    border-radius: 50px;
    text-align: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
input{
    width: 200px;
    height: 25px;
    color: #ffffff;
    background: rgba(255,255,255,.08);
    border-radius: 10px;
    border:1px solid white;
    padding:10px;
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 1.5rem;
    backdrop-filter: blur(10px);
}
form{
    margin-left: auto;
    margin-right:auto ;

}
h1{
    color: #00ABB3;
    font-family: 'Kalam', cursive;
}
.user{
    font-family: 'Bangers', cursive;
    color: #ffffff;
}
.btn {
    border-radius: 10px;
    font-family: 'Kalam', cursive;
    color: #ffffff;
    font-size: 1rem;
    background:  #00ABB3;
    padding: 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cfcec;
    text-decoration: none;
  }